<section class="big">
  <app-topnavbar [logo]="true"></app-topnavbar>
  <section class="main-container">
    <div class="texto-diplay">
      <h3>Sobre a Dog.ai:</h3>

      <section class="box">
        <div class="paragrafo">
          <p>A Dog.ai é um site dedicado a ajudar cachorros perdidos a encontrar seus lares amorosos! Aqui, nós
            valorizamos cada rabo abanando e buscamos reunir os peludos e seus tutores.</p>
          <p>Nosso objetivo é simples: unir cachorros avistados com seus donos em potencial. Se você já encontrou um
            amiguinho peludo na rua e deseja ajudá-lo a voltar para casa, ou se perdeu seu companheiro canino e está em
            busca desesperada, você está no lugar certo!</p>
          <p>Utilizamos a tecnologia da Inteligência Artificial através de uma rede neural treinada especialmente para
            reconhecer padrões em
            imagens de cachorros. Além disso, consideramos informações cruciais como gênero e raça para aprimorar ainda
            mais nossos resultados.</p>
          <p>Como funciona? É simples! Você pode cadastrar um cachorro avistado, fornecendo uma foto e informações de
            gênero e raça (se souber).
            Da mesma forma, se seu cachorro está desaparecido, você pode criar um perfil para ele, incluindo uma foto e
            suas
            informações.</p>
          <p>Nossa plataforma se encarrega de cruzar essas informações de forma inteligente, apresentando a você uma
            lista dos 10 melhores resultados, ou seja, as combinações mais promissoras entre cachorros avistados e
            buscados.</p>
          <p>Estamos comprometidos em ajudar a manter os laços entre humanos e seus amigos de quatro patas. Junte-se
            a nós nessa missão de reencontrar sorrisos e caudas abanando!</p>
        </div>
        <div class="imagem-box">
          <img src="/assets/images/mascote.png" alt="">
        </div>
      </section>


    </div>
  </section>
  <app-footer></app-footer>
</section>
