<section class="big">
  <app-topnavbar [logo]="true"></app-topnavbar>
  <section class="main-container">
    <div class="texto-diplay">
      <h3>Sobre a Dog.ai:</h3>

      <section class="box">
        <div class="paragrafo">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolorem dolores numquam amet odit fuga
            aperiam fugiat ea nihil saepe quo sint voluptatem distinctio, suscipit praesentium minima minus voluptatum
            modi.
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vero molestiae voluptas. Blanditiis quasi
            harum pariatur eius qui, ea hic natus quidem minima beatae eligendi adipisci, laboriosam fugiat quibusdam
            minus! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur recusandae minus consequuntur
            ut est nisi laborum reiciendis libero ex eveniet. Neque nihil obcaecati sint facere hic aliquid ullam.
            Dolor, expedita!</p>
        </div>
        <div class="imagem-box">
          <img src="/assets/images/mascote.png" alt="">
        </div>
      </section>


    </div>
  </section>
  <app-footer></app-footer>
</section>
