<div class="big">
  <app-topnavbar [logo]="true"></app-topnavbar>

  <section class="main-container">

    <mat-card class="card">
      <mat-card-header class="titulo-box">
        <mat-card-title class="titulo">Resultados para #{{cachorroId}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">

        <section *ngIf="combinacoes$ | async as combinacoes" class="cachorros-lista">
          <div class="container-cachorro">
            <app-card-cachorro [cachorros]="combinacoes" [acao]="'contactar'" [botaoNome]="'Contactar'"></app-card-cachorro>
          </div>
        </section>

      </mat-card-content>
    </mat-card>


  </section>
  <app-footer></app-footer>
</div>
