@import '../../../assets/color.scss';

.card {
  width: calc(100vw - 4rem);
  max-width: 1000px;
  min-width: 290px;

  .titulo-box {
    width: 100%;
    padding-left: 0;

    .titulo {
      padding: 5px 15px 5px 15px !important;
      color: #F5F5F5;
      background-color: #554596;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border-radius: 0 15px 15px 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .cachorros-lista {
      margin-top: 30px;

      .container-cachorro{
        margin-bottom: 30px;
      }

    }
  }
}
