<section class="big">
  <app-topnavbar [logo]="true" ></app-topnavbar>
  <section class="main-container">
    <mat-card class="card">
      <mat-card-header class="titulo">
        <mat-card-title>Cadastro de Usuário</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" class="form">
          <mat-form-field appearance="outline">
            <mat-label>Nome do Tutor</mat-label>
            <input matInput formControlName="nomeTutor" placeholder="Nome do Tutor">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nome de Usuário</mat-label>
            <input matInput type="username" formControlName="username" placeholder="Usuário">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" placeholder="Telefone">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha" placeholder="Senha">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirmar Senha</mat-label>
            <input matInput type="password" formControlName="confirmarSenha" placeholder="Confirmar Senha">
          </mat-form-field>

          <button mat-raised-button color="accent" type="submit">Próximo</button>
        </form>
        <div class="ou">
          <p class="text">se já tenho uma conta</p>
          <div class="entrar-text">
            <a routerLink="/login">Entrar</a>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </section>
  <app-footer></app-footer>
</section>
