// .main-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   margin: auto;
//   margin-top: clamp(10px, 8vh, 80px);
//   align-items: center;
//   width: 80%;
//   max-width: 500px;
@import '../../../assets/color.scss';

.card {
  width: calc(100vw - 4rem);
  max-width: 500px;
  min-width: 290px;

  .titulo {
    margin: 0px 0 30px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid $white-gray;
    padding-bottom: 30px;

    button {
      align-self: flex-end;
    }
  }

  .ou {
    text-align: center;
    color: $white-black;
    font-size: 0.8rem;
    font-weight: 300;

    .text {
      font-size: calc(10px + 0.5vw);
    }

    .entrar-text {

      a {
        color: #554596;
        text-decoration: underline;
        font-size: calc(10px + 0.5vw);
        font-weight: bold;
      }

    }
  }

  .mat-form-field {
    width: 100%;
  }
}

// }
