.topnavbar {
  background-color: white;
  height: 80px;

  .logo {
    margin: 10px;
    width: auto;
    /* Defina o tamanho desejado */
    height: 60px;
    /* Mantenha a proporção */
  }
  .spacer {
    flex: 1 1 auto;
  }

  .nav-button {
    padding: clamp(10px, 12px + 0.5vw, 20px); /* Ajusta o espaçamento à direita dos botões */
    font-size: clamp(13px, 12px + 0.5vw, 16px);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(10px, 8vh, 80px);

  .card {
    width: 400px;

    .titulo {
      margin: 0px 0 30px 0;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      button {
        align-self: flex-end;
      }
    }

    .mat-form-field {
      width: 100%;
    }
  }
}


