.topnavbar {
  background-color: white;
  height: 80px;

  .logo {
    margin: 10px;
    width: auto;
    /* Defina o tamanho desejado */
    height: 60px;
    /* Mantenha a proporção */
  }
  .spacer {
    flex: 1 1 auto;
  }

  .nav-button {
    padding: clamp(10px, 12px + 0.5vw, 20px); /* Ajusta o espaçamento à direita dos botões */
    font-size: clamp(13px, 12px + 0.5vw, 16px);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(10px, 8vh, 80px);

  .card {
    width: 400px;

    .titulo {
      margin: 0px 0 30px 0;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      button {
        align-self: flex-end;
      }
    }

    .mat-form-field {
      width: 100%;
    }
  }
}




/* Define a cor de fundo e da borda dos inputs */
.mat-form-field-appearance-fill .mat-form-field-wrapper {
  background-color: #ffffff;
  /* Cor de fundo branca */
  border-radius: 4px;
  /* Borda arredondada */
  border: 1px solid #ccc;
  /* Borda com cor cinza */
}

/* Define a cor do texto dentro dos inputs */
.mat-form-field-appearance-fill .mat-input-element {
  color: #000000;
  /* Cor do texto preta */
}

/* Define a cor do placeholder (texto de orientação quando o input está vazio) */
.mat-form-field-appearance-fill .mat-form-field-label {
  color: #777777;
  /* Cor do placeholder cinza */
}

/* Define a cor do texto do rótulo (label) */
.mat-form-field-appearance-fill .mat-form-field-label-wrapper {
  color: #000000;
  /* Cor do texto preta */
}

/* Define a cor do texto do rótulo quando o input está focado */
.mat-form-field-appearance-fill.mat-focused .mat-form-field-label-wrapper {
  color: #000000;
  /* Cor do texto preta */
}

