<div *ngIf="acao=='resultados'" class="container-cachorro">
  <mat-card *ngFor="let cachorro of cachorros" class="cachorro">
    <mat-card-header class="header-card">
      <mat-card-title>#{{cachorro.id}}</mat-card-title>

      <ng-container *ngIf="!cachorro.status">
        <a class="status" title="Cachorro Encontrado"><span class="material-symbols-outlined">task_alt</span></a>
      </ng-container>

      <ng-container *ngIf="dashboard && cachorro.status && cachorro.tipo==1">
        <a class="status encontrado" title="Mudar status para encontrado" (click)="changeStatus(cachorro.id, cachorro.nome)"><span class="material-symbols-outlined">task_alt</span></a>
      </ng-container>

    </mat-card-header>
    <div class="imagem-box">
      <img matCardImage src="http://localhost:8000{{cachorro.imagem[0].caminho}}">
    </div>
    <hr>
    <mat-card-content>
      <ul>
        <li class="nome">{{cachorro.nome}}</li>
        <li>{{cachorro.raca_nome}}</li>
        <li>{{cachorro.genero_display}}</li>
        <span class="space"></span>
        <li>{{cachorro.descricao}}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="action">
      <button class="action-button" (click)="onAction(cachorro.id, cachorro)" mat-flat-button>
        {{botaoNome}}
        <span class="material-symbols-outlined">search</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>


<div *ngIf="acao=='contactar'" class="container-cachorro">
  <mat-card *ngFor="let cachorro of cachorros, let i = index" class="cachorro">
    <mat-card-header class="header-card">
      <mat-card-title [ngClass]="{'posicao': true, 'primeiros': i < 3, 'ultimos': i > 6}">
        {{i + 1}}
      </mat-card-title>
    </mat-card-header>
    <ng-container>
      <div class="imagem-box">
        <img matCardImage
          src="http://localhost:8000{{tipo == 1 ? cachorro.id_avistado.imagem[0].caminho : cachorro.id_buscado.imagem[0].caminho}}">
      </div>
      <mat-card-content>
        <ul>
          <li class="nome">{{tipo == 1 ? cachorro.id_avistado.nome : ""}}</li>
          <li>{{tipo == 1 ? cachorro.id_avistado.raca_nome : cachorro.id_buscado.raca_nome}}</li>
          <li>{{tipo == 1 ? cachorro.id_avistado.genero_display : cachorro.id_buscado.genero_display}}</li>
          <span class="space"></span>
          <li>{{tipo == 1 ? cachorro.id_avistado.descricao : cachorro.id_buscado.descricao}}</li>
        </ul>
      </mat-card-content>
    </ng-container>

    <mat-card-actions class="action contactar">
      <button class="action-button" (click)="onAction(cachorro.id, cachorro)" mat-flat-button>{{botaoNome}}</button>
    </mat-card-actions>
  </mat-card>
</div>
