<div *ngIf="acao=='resultados'" class="container-cachorro">
  <mat-card *ngFor="let cachorro of cachorros" class="cachorro">
    <mat-card-header>
      <mat-card-title>#{{cachorro.id}}</mat-card-title>
    </mat-card-header>
    <div class="imagem-box">
      <img matCardImage src="http://localhost:8000{{cachorro.imagem[0].caminho}}">
    </div>
    <hr>
    <mat-card-content>
      <ul>
        <li class="nome">{{cachorro.nome}}</li>
        <li>{{cachorro.raca.nome}}</li>
        <li>{{cachorro.genero_display}}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="onAction(cachorro.id)" mat-button>{{botaoNome}}</button>
    </mat-card-actions>
  </mat-card>
</div>


<div *ngIf="acao=='contactar'" class="container-cachorro">
  <mat-card *ngFor="let cachorro of cachorros, let i = index" class="cachorro">
    <mat-card-header>
      <mat-card-title>{{i+1}}º</mat-card-title>
    </mat-card-header>
    <div class="imagem-box">
      <img matCardImage src="http://localhost:8000{{cachorro.id_avistado.imagem[0].caminho}}">
    </div>
    <mat-card-content>
      <ul>
        <li class="nome">{{cachorro.id_avistado.nome}}</li>
        <li>{{cachorro.id_avistado.raca.nome}}</li>
        <li>{{cachorro.id_avistado.genero_display}}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions align="end">
      <button (click)="onAction(cachorro.id)" mat-button>{{botaoNome}}</button>
    </mat-card-actions>
  </mat-card>
</div>
