.header {
  background-color: white;

  @media (max-width:1000px) {
    .topnavbar {
      width: calc(100vw - 4rem);
      min-width: 290px;
    }
  }

  .topnavbar {
    height: 80px;
    margin: auto;
    max-width: 1000px;
    padding: 0;
    background-color: white;

    .logo {
      margin-top: 10px;
      width: auto;
      /* Defina o tamanho desejado */
      height: 60px;
      /* Mantenha a proporção */
    }

    .spacer {
      flex: 1 1 auto;
    }

    .nav-button {
      padding: clamp(10px, 12px + 0.5vw, 20px);
      /* Ajusta o espaçamento à direita dos botões */
      font-size: clamp(13px, 12px + 0.5vw, 16px);
    }

    .nav-button.voltar {
      display: flex;
      align-items: center;
    }

    .nav-button.voltar .material-symbols-outlined {
      vertical-align: middle;
      display: inline-block;
      margin-right: 8px;
      /* Ajuste conforme necessário */
    }

    .nav-button.menu::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      /* Largura da barra vertical */
      background-color: #D9D9D9;
      /* Cor da barra vertical */
    }

    /* Remove a barra vertical do último botão */
    .nav-button.menu:last-child::after {
      display: none;
    }
  }
}
