<section class="big">
  <app-topnavbar [logo]="false"></app-topnavbar>
  <section class="main-container">
    <mat-card class="card">
      <div class="imagem-box"><img src="assets/images/dogai.png" alt=""></div>
      <mat-card-header class="titulo">
        <mat-card-title>Login de Usuário</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
          <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput type="username" formControlName="username" placeholder="Username">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="senha" placeholder="Senha">
          </mat-form-field>
          <a href="/">Esquei minha senha?</a>
          <button mat-raised-button color="accent" type="submit">Entrar</button>
        </form>

        <div class="ou">
          <p class="text">ainda não tenho uma conta</p>
          <div class="entrar-text">
            <a [routerLink]="['/cadastro/usuario']">Cadastrar</a>
          </div>

        </div>

      </mat-card-content>
    </mat-card>
  </section>
  <app-footer></app-footer>
</section>
