<section class="big">
  <app-topnavbar [logo]="true"></app-topnavbar>

  <section class="main-container">

    <ng-container *ngIf="loading; else conteudo">
      <app-loading></app-loading>
    </ng-container>


    <ng-template #conteudo>
      <mat-card class="card">
        <mat-card-header class="titulo">
          <mat-card-title>Cadastro de Cachorro</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
          <form [formGroup]="cachorroForm" (ngSubmit)="onSubmit()" class="form" enctype="multipart/form-data">
            <div class="file-input-container">
              <mat-label class="file-label">Imagem:</mat-label>
              <span class="file-name">{{ selectedFileName }}</span>
              <input type="file" #fileInput (change)="onFileSelected(fileInput)" style="display: none">
              <button class="custom-button" mat-icon-button (click)="fileInput.click()" tabindex="-1">
                <span class="material-symbols-outlined">image</span>
              </button>
            </div>
            <div *ngIf="imagePreview" class="image-preview-box">
              <button mat-icon-button (click)="removeImage()" *ngIf="selectedFileName" tabindex="-1">
                <span class="material-symbols-outlined">clear</span>
              </button>
              <img [src]="imagePreview" alt="Pré-visualização da imagem" class="image-preview">
              <p>Escolha uma imagem que só tenha o cão a ser cadastrado, certifique-se que a imagem contém o rosto do animal</p>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Contato</mat-label>
              <input matInput formControlName="contato" placeholder="Telefone">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nome do Contato</mat-label>
              <input matInput formControlName="nome" placeholder="Seu nome">
            </mat-form-field>

            <!-- <mat-form-field *ngIf="racas$ | async as racas" appearance="outline">
              <mat-label>Raça</mat-label>
              <mat-select matInput formControlName="raca" placeholder="Raça">
                <mat-option *ngFor="let raca of racas" [value]="raca.id">{{raca.nome}}</mat-option>
              </mat-select>
            </mat-form-field> -->

            <div class="file-input-container">
              <mat-label class="file-label">Gênero do cachorro: </mat-label>
              <mat-radio-group formControlName="genero">
                <mat-radio-button value="1">Macho</mat-radio-button>
                <mat-radio-button value="2">Fêmea</mat-radio-button>
              </mat-radio-group>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Descrição</mat-label>
              <textarea class="text-area" matInput formControlName="descricao" rows="2" maxlength="100"
                placeholder="Escreva aqui onde o cachorro foi avistado"></textarea>
            </mat-form-field>


            <button mat-raised-button color="accent" type="submit">Criar Cachorro</button>
          </form>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </section>


  <app-footer></app-footer>
</section>
