@import '../../assets/color.scss';

.card {
  width: calc(100vw - 4rem);
  max-width: 1000px;
  min-width: 290px;

  .titulo-box {
    width: 100%;
    padding-left: 0;

    .titulo {
      // margin: 0px 0 30px 0;
      // max-width: 250px;
      width: clamp(120px, 20vw, 250px);
      // height: 50px;
      color: #F5F5F5;
      background-color: #554596;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border-radius: 0 15px 15px 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    // gap: 20px;

    .cachorros-lista {
      margin-top: 30px;

      .cachorros-lista-titulo {
        font-size: clamp(13px, 12px + 0.5vw, 20px);
      }
    }


    .container-cachorro {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      // justify-content: space-between;

      .cachorro {
        width: 300px;

        .imagem-box {
          overflow: hidden;
          margin-bottom: 20px;
          width: 90%;
          height: 200px;
          display: flex;
          padding: 10px;
          justify-content: center;
          margin: auto;

          img {
            max-height: 100%;
          }
        }
      }
    }


  }

}
