<section class="big">
  <app-topnavbar [logo]="true" ></app-topnavbar>
  <section class="main-container">
    <mat-card class="card">
      <mat-card-header class="titulo-box">
        <mat-card-title class="titulo">Oi, {{usuario}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">

        <section class="cachorros-lista">
          <div class="cachorros-lista-titulo">
            Meus cachorros perdidos

            <button (click)="onAdicionar()" mat-icon-button class="nav-button">
              <span class="material-symbols-outlined">add_circle</span>
            </button>

          </div>
          <app-card-cachorro *ngIf="cachorrosBuscados$ | async as cachorros" [cachorros]="cachorros" [acao]="'resultados'"
            [botaoNome]="'Resultados'"></app-card-cachorro>
        </section>


      </mat-card-content>
    </mat-card>
  </section>
  <app-footer></app-footer>
</section>
