<section class="big">
  <app-topnavbar [logo]="true" ></app-topnavbar>
  <section class="main-container">
    <mat-card class="card">
      <mat-card-header class="titulo-box">
        <mat-card-title class="titulo">Oi, Usuário</mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">

        <section *ngIf="cachorrosBuscados$ | async as cachorros" class="cachorros-lista">
          <div *ngIf="cachorros.length > 0" class="cachorros-lista-titulo">
            Meus cachorros perdidos

            <button (click)="onAdicionar('bsucado')" mat-icon-button class="nav-button">
              <span class="material-symbols-outlined">add_circle</span>
            </button>

          </div>
          <app-card-cachorro [cachorros]="cachorros" [acao]="'resultados'"
            [botaoNome]="'Resultados'"></app-card-cachorro>
        </section>

        <span class="space"></span>

        <section *ngIf="cachorrosAvistados$ | async as cachorros" class="cachorros-lista">
          <div *ngIf="cachorros.length > 0" class="cachorros-lista-titulo">
            Meus cachorros avistados

            <button (click)="onAdicionar('avistado')" mat-icon-button class="nav-button">
              <span class="material-symbols-outlined">add_circle</span>
            </button>

          </div>
          <app-card-cachorro [cachorros]="cachorros" [acao]="'resultados'"
            [botaoNome]="'Resultados'"></app-card-cachorro>
        </section>

      </mat-card-content>
    </mat-card>
  </section>
  <app-footer></app-footer>
</section>
