<section class="big">
  <app-topnavbar [logo]="false"></app-topnavbar>
  <section class="main-container">

    <div class="imagem">
      <img src="assets/images/dogai.png" alt="">
    </div>

    <div class="center-home">
      <button mat-button routerLink="/cadastro/usuario" color="primary">Perdi meu Cachorro</button>
      <button mat-button routerLink="/cadastro/cachorro/avistado" color="primary">Encontrei um Cachorro</button>
    </div>

    <div class="ou">
      <p class="text">ou</p>
      <p class="text">para acompanhar meus resultados</p>
      <div class="entrar-text">
        <a routerLink="/login">Entrar</a>
      </div>

    </div>


  </section>
  <app-footer></app-footer>
</section>
